<template>
  <v-app v-if="user">
    <v-main>
      <v-app-bar color="deep-purple" dark>
        <v-app-bar-nav-icon @click="appBarVisible = true" />
        <v-toolbar-title></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-menu offset-y bottom left>
          <template v-slot:activator="{ on, attrs }">
            <v-avatar color="teal" v-bind="attrs" v-on="on">
              <img v-if="user.avatar" :src="user.avatar" alt />
              <span v-else class="text-capitalize">{{ user.username[0] }}</span>
            </v-avatar>
          </template>

          <v-list>
            <v-list-item :to="{ name: 'profile' }">Profile</v-list-item>
            <v-list-item @click="$auth.logout('local')">Exit</v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>

      <v-navigation-drawer v-model="appBarVisible" absolute temporary>
        <v-list nav dense>
          <v-list-item-group active-class="deep-purple--text text--accent-4">
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Account</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      appBarVisible: false,
    }
  },
  computed: {
    ...mapState('auth', ['user']),
  },
  async beforeCreate() {
    if (!this.user) {
      await this.$auth.fetchUser()
    }
  },
}
</script>

<style scoped></style>
