<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-select
            v-model="filter.sport_type"
            :items="sport_types"
            :label="$t('Sport type')"
            item-text="name"
            item-value="id"
            clearable
            outlined
            dense
          ></v-select>
        </v-col>
      </v-row>
    </v-container>
    <core-table
      :data="data.results"
      :loading="loading"
      :count="data.count"
      :headers="tableHeaders"
      :show-select="true"
      multi-sort
      :sort-by.sync="sort.key"
      :sort-desc.sync="sort.isDesc"
    >
      <template v-slot:item.action="{ item }">
        <v-btn text @click="() => {}">
          <v-icon>mdi-dots-vertical</v-icon>
          <span v-if="false"> {{ item.id }} </span>
        </v-btn>
      </template>
    </core-table>
  </div>
</template>

<script>
import get from 'lodash/get'
import { mapActions } from 'vuex'
import CoreTable from '@/components/core/CoreTable'

export default {
  components: { CoreTable },
  data() {
    return {
      loading: false,
      sort: {
        key: null,
        isDesc: true,
      },
      filter: {
        sport_type: null,
      },
      sport_types: [],
      data: {
        count: 0,
      },
    }
  },
  computed: {
    tableHeaders() {
      return [
        {
          text: '#',
          align: 'center',
          sortable: true,
          value: 'id',
          width: 30,
        },
        {
          text: this.$t('name'),
          align: 'center',
          sortable: false,
          value: 'name',
        },
        {
          text: this.$t('date'),
          align: 'center',
          sortable: true,
          value: 'date',
        },
      ]
    },
  },
  watch: {
    $route() {
      this.getGameList()
    },
    sort: {
      deep: true,
      handler(val) {
        const ordering = val.key ? (val.isDesc ? '-' + val.key : val.key) : null
        this.$router.push({
          query: { ...this.$route.query, ordering },
        })
      },
    },
    filter: {
      deep: true,
      handler(val) {
        this.$router.push({
          query: { ...val },
        })
      },
    },
  },
  created() {
    this.getGameList()
    this.getSportTypeList()
  },
  methods: {
    ...mapActions('game', ['getGameListAction', 'getSportTypeListAction']),
    getSportTypeList() {
      this.getSportTypeListAction().then((response) => {
        this.sport_types = get(response, 'data.results', this.data)
      })
    },
    getGameList() {
      this.loading = true
      this.getGameListAction()
        .then((response) => {
          this.data = get(response, 'data', this.data)
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
  head: {
    title: 'my website title',
  },
}
</script>
