<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="6" md="6">
      <v-card class="elevation-12">
        <v-window v-model="step">
          <v-window-item :value="1">
            <v-row no-gutters>
              <v-col cols="12" md="8">
                <v-card-text class="mt-12">
                  <h1 class="text-center display-2 teal--text text--accent-3">
                    Sign in to sport app
                  </h1>
                  <div class="text-center mt-4">
                    <v-btn class="mx-2" fab color="black" outlined>
                      <v-icon>fab fa-facebook-f</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" fab color="black" outlined>
                      <v-icon>fab fa-google-plus-g</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" fab color="black" outlined>
                      <v-icon>fab fa-linkedin-in</v-icon>
                    </v-btn>
                  </div>
                  <h4 class="text-center mt-4">
                    Ensure your email for registration
                  </h4>
                  <v-form>
                    <v-text-field
                      v-model="signInForm.username"
                      label="Username"
                      name="Username"
                      type="text"
                      color="teal accent-3"
                    >
                      <v-icon slot="prepend">fa-envelope</v-icon>
                    </v-text-field>
                    <v-text-field
                      id="password"
                      v-model="signInForm.password"
                      label="password"
                      name="Password"
                      type="password"
                      color="teal accent-3"
                    >
                      <v-icon slot="prepend">fa-lock</v-icon>
                    </v-text-field>
                  </v-form>
                  <h3 class="text-center">Forgot your password</h3>
                </v-card-text>
                <v-card-actions class="justify-center pb-4">
                  <v-btn rounded color="teal accent-3" dark @click="signIn">
                    Kirish
                  </v-btn>
                </v-card-actions>
              </v-col>
              <v-col cols="12" md="4" class="teal accent-3">
                <v-card-text class="white--text mt-12">
                  <h1 class="text-center display-1">Hello, Friends!</h1>
                  <h5 class="text-center">Enter your personal detail</h5>
                </v-card-text>
                <div class="text-center mt-3">
                  <v-btn rounded outlined dark @click="step++">
                    SIGN OUT
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-window-item>
          <v-window-item :value="2">
            <v-row class="fill-height" no-gutters>
              <v-col cols="12" md="4" class="teal accent-3">
                <v-card-text class="white--text mt-12">
                  <h1 class="text-center display-1">Welcome Back!</h1>
                  <h5 class="text-center">
                    To Keep connected with us please login with your personal
                    info
                  </h5>
                </v-card-text>
                <div class="text-center">
                  <v-btn rounded outlined dark @click="step--"> SIGN IN </v-btn>
                </div>
              </v-col>
              <v-col cols="12" md="8">
                <v-card-text class="mt-12">
                  <h1 class="text-center display-2 text--accent-3">
                    Create account
                  </h1>
                  <div class="text-center mt-4">
                    <v-btn class="mx-2" fab color="black" outlined>
                      <v-icon>fab fa-facebook-f</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" fab color="black" outlined>
                      <v-icon>fab fa-google-plus-g</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" fab color="black" outlined>
                      <v-icon>fab fa-linkedin-in</v-icon>
                    </v-btn>
                  </div>
                  <h4 class="text-center mt-4">
                    Ensure your email for registration
                  </h4>
                  <v-form>
                    <v-text-field
                      v-model="signUpForm.username"
                      label="Name"
                      name="Name"
                      type="text"
                      color="teal accent-3"
                    >
                      <v-icon slot="prepend">fas fa-user</v-icon>
                    </v-text-field>
                    <v-text-field
                      v-model="signUpForm.email"
                      label="Email"
                      name="Email"
                      type="text"
                      color="teal accent-3"
                    >
                      <v-icon slot="prepend">fas fa-envelope</v-icon>
                    </v-text-field>
                    <v-text-field
                      v-model="signUpForm.password"
                      label="Password"
                      name="Password"
                      type="password"
                      color="teal accent-3"
                    >
                      <v-icon slot="prepend">fa fa-lock</v-icon>
                    </v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions class="justify-center mt-2">
                  <v-btn
                    :loading="loading"
                    dark
                    rounded
                    color="teal accent-3"
                    @click="signUp"
                  >
                    SING UP
                  </v-btn>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-window-item>
        </v-window>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AuthForm',
  data: () => ({
    step: 1,
    signInForm: {},
    signUpForm: {},
    loading: false,
  }),
  methods: {
    ...mapActions('user', ['registerNewUserAction']),
    signUp() {
      this.loading = true
      this.registerNewUserAction(this.signUpForm)
        .then(() => {
          this.$toast.success(this.$t('signUpSuccess'))
          this.signInForm = { ...this.signUpForm }
          this.signUpForm = {}
          this.step = 1
        })
        .catch((r) => {
          this.$toast.error(this.$t('signInError'))
        })
        .finally(() => {
          this.loading = false
        })
    },
    signIn() {
      this.loading = true
      this.$auth
        .loginWith('local', { data: this.signInForm })
        .then(() => {
          this.$router.push('/')
        })
        .catch((r) => {
          this.$toast.error(this.$t('signInError'))
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>

<style lang="scss"></style>
